# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/
.playwright/
test-results/
playwright-report/
blob-report/

# Node.js
node_modules/
package-lock.json
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# API
api/newman/
